page-home {
    body {
    background-image: url('https://s-media-cache-ak0.pinimg.com/originals/bf/39/60/bf3960d166a5dae1db9340c8a80bc85f.png');
    }
    
.centerbox {
    width: 50%;
    margin: auto; 
}

.colorbox { 
    background: rgb(240, 237, 237); 
    border-radius: 1%;

}

a {
    color: navy;
    }

a {text-decoration:none;}

ul {
    text-align: center;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
}

li {
    display: inline;
    padding: 10px 40px;
}

}

