page-maps {
  agm-map {
    height: 300px;
  }
    .ios, .md {

        home-page {
    
          .scroll {
            height: 100%
          }
    
          #map {
            width: 100%;
            height: 100%;
          }
    
        }
    
    }
}
