<ion-card *ngIf="timer">
  <ion-item class="ion-item">
      <button ion-button *ngIf="timeInSeconds && timeInSeconds > 0" large full class="timer-button timer-text">{{timer.displayTime}}</button>
  </ion-item>
  <ion-item class="no-bottom-border" *ngIf="timeInSeconds && timeInSeconds > 0">
      <button ion-button icon-left clear color="danger" small (click)="initTimer()" item-left *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
          <ion-icon name="refresh"></ion-icon>
          Reset
      </button>
      <button ion-button icon-left small color="primary" (click)="pauseTimer()" item-right *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
          <ion-icon name="pause"></ion-icon>
          Pause
      </button>      
      <button ion-button icon-left small color="primary" (click)="resumeTimer()" item-right *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
          <ion-icon name="play"></ion-icon>
          Resume
      </button>      
      <button ion-button icon-left small color="primary" (click)="startTimer()" item-right *ngIf="!timer.hasStarted">
          <ion-icon name="play"></ion-icon>
          Start
      </button>
      <ion-item>
        <ion-input type="text" placeholder="Set time for game" [(ngModel)]="timeInSeconds">Set time for game</ion-input>
      </ion-item>          
  </ion-item>
</ion-card>  

<style>
.timer-button {
  font-size: 5rem !important;
  height: 1em !important;
}

.no-bottom-border.item .item-inner {
    border-bottom: none !important;
}
</style>